<ion-tabs class="tabs-icon-only tabs-dark">

  <ion-tab badge="1" badge-style="badge-white"  icon="ion-ios-bell-outline" href="#/stream/bell">
    <ion-nav-view name="bell-stream"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-ios-person-outline" href="#/stream/person">
    <ion-nav-view name="person-stream"></ion-nav-view>
  </ion-tab>

  <ion-tab   badge="1" icon="ion-badge badge-container"  href="#/stream/default">

    <ion-nav-view name="default-stream"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<!--<div class="tabs tabs-icon-only">-->
  <!--<a class="tab-item" href="#/stream/bell">-->
    <!--<i badge="1" badge-style="badge-white" class="ion-ios-bell-outline"></i>-->
  <!--</a>-->
  <!--<a class="tab-item">-->
    <!--<i class="ion-ios-person-outline"></i>-->
  <!--</a>-->
  <!--<a class="tab-item">-->
    <!--<span class="badge badge-assertive">0</span>-->
  <!--</a>-->
<!--</div>-->

<!--<div class="tabs tabs-icon-only">-->
  <!--<a class="tab-item" href="#/stream/bell">-->
    <!--<i class="ion-ios-bell-outline"></i>-->

    <!--&lt;!&ndash;here's the bad badge!!!!!!!!!!!!!!&ndash;&gt;-->
    <!--<span class="badge badge-assertive">0</span>-->
    <!--&lt;!&ndash;here's the bad badge!!!!!!!!!!!!!!&ndash;&gt;-->
    <!--home-->
  <!--</a>-->
  <!--<a class="tab-item" href="#/about">-->
    <!--<i class="icon ion-star"></i>-->
    <!--about-->
  <!--</a>-->
<!--</div>-->
