/* Empty. Add your own CSS if you like */
.btn {
  display:block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid black;

}

.card-wrap{
  height: 100% !important;
  display: -webkit-box!important ;
  display: -moz-box!important ;
  display: -ms-flexbox!important ;
  display: -webkit-flex!important ;
  display: flex!important ;
  -webkit-box-direction: normal!important ;
  -moz-box-direction: normal!important ;
  -webkit-box-orient: vertical!important ;
  -moz-box-orient: vertical!important ;
  -webkit-flex-direction: column!important ;
  -ms-flex-direction: column!important ;
  flex-direction: column!important ;
  -webkit-flex-wrap: nowrap!important ;
  -ms-flex-wrap: nowrap!important ;
  flex-wrap: nowrap!important ;
  -webkit-box-pack: justify!important ;
  -moz-box-pack: justify!important ;
  -webkit-justify-content: space-between!important ;
  -ms-flex-pack: justify!important ;
  justify-content: space-between!important ;
  -webkit-align-content: space-around!important ;
  -ms-flex-line-pack: distribute!important ;
  align-content: space-around!important ;
  -webkit-box-align: stretch!important ;
  -moz-box-align: stretch!important ;
  -webkit-align-items: stretch!important ;
  -ms-flex-align: stretch!important ;
  align-items: stretch!important ;

}

.full-card {
  -webkit-box-flex: 1 !important ;
  -moz-box-flex: 1 !important ;
  -webkit-flex: 1 1 auto !important ;
  -ms-flex: 1 1 auto !important ;
  flex: 1 1 auto !important ;
  -webkit-align-self: stretch !important ;
  -ms-flex-item-align: stretch !important ;
  align-self: stretch !important ;

  display: -webkit-box !important ;
  display: -moz-box !important ;
  display: -ms-flexbox !important ;
  display: -webkit-flex !important ;
  display: flex !important ;
  -webkit-box-direction: normal !important ;
  -moz-box-direction: normal !important ;
  -webkit-box-orient: horizontal !important ;
  -moz-box-orient: horizontal !important ;
  -webkit-flex-direction: row !important ;
  -ms-flex-direction: row !important ;
  flex-direction: row !important ;
  -webkit-flex-wrap: nowrap !important ;
  -ms-flex-wrap: nowrap !important ;
  flex-wrap: nowrap !important ;
  -webkit-box-pack: center !important ;
  -moz-box-pack: center !important ;
  -webkit-justify-content: center !important ;
  -ms-flex-pack: center !important ;
  justify-content: center !important ;
  -webkit-align-content: space-between !important ;
  -ms-flex-line-pack: justify !important ;
  align-content: space-between !important ;
  -webkit-box-align: center !important ;
  -moz-box-align: center !important ;
  -webkit-align-items: center !important ;
  -ms-flex-align: center !important ;
  align-items: center !important ;
}

.innerbox
{
  width:250px; /* or whatever width you want. */
  max-width:250px; /* or whatever width you want. */
  display: inline-block;
}

.scroll-view {
  height: 100%;
}

.custom-card.card {
  height: 100%;
  margin: 0;
}

.card-wrapper {
  height: 100%;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*.header-badge{*/
  /*top: 20px;*/
  /*bottom: -15px;*/
/*}*/

.badge-container{
  position: relative;
}

.images-parent{
  text-align: center;
}


.center-image{
  margin:0 auto;
  width: 400px !important;
  height: 400px !important;
  border-radius: 50%;
}


